body {
    background-color: #eeeeee;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 15px;
    margin: 0;
}

.box {
    text-align: center;
}

.checker {
    cursor: pointer;
    display: block;
    width: 55px;
    height: 55px;
    background-size: 100%;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0 1px 2px 0 #00000033;
    transition: transform 0.15s;
    box-sizing: border-box;
    border: 7px solid;

    &.w {
        &.default {
            background: #fff;
            border-color: #ccc;
        }
        &.queen {
            background: #FFC107;
            border-color: #ff7800;
        }
    }

    &.b {
        &.default {
            background: #444;
            border-color: #5f5f5f;
        }
        &.queen {
            background: #2c1556;
            border-color: #353382;
        }
    }
}

.black.active > span {
    border-color: #6dffaf !important;
    box-shadow: 0 0 5px 0 #6dffaf;
}

.green {
    opacity: 0.7;
    cursor: pointer;
}

.centered {
    display: inline-block;
    margin: 0;
}

.chess-board {
    border-spacing: 0;
    border-collapse: collapse;
    th {
        padding: .5em;
    }

    td {
        width: 70px;
        height: 70px;
        text-align: center;
        vertical-align: middle;
    }

    .white {
        background: #f0d9b5;
    }

    .black {
        background: #b58863;
    }
}

a {
    &:link, &:active {
        text-decoration: none;
        color: #006699;
    }
    &:visited {
        text-decoration: none;
        color: #003399;
    }
    &:hover {
        text-decoration: underline;
        color: #006900;
    }
}

.game {
    display: flex;
}

.game-info {
    width: 350px;
    display: flex;
    flex-direction: column;
}

.step-data {
    background: #5f5f5f;
    height: 432px;
}

.gamer {
    background: #777977;
    padding: 0 10px;
    border: 1px solid #777977;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

span.img.black {
    background: #424242;
}

.img-wrapper {
    display: flex;
    height: 20px;
}

.trofei {
    display: flex;
    align-items: center;
}

.img-wrapper .img {
    display: block;
    background-size: 100%;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    background: #dcdbd9;
    border-radius: 50%;
}

.name {
    color: #ffffff;
    margin-bottom: 7px;
}

.dominate-data {
    color: white;
}

.indicator {
    background: #CDDC39;
    height: 10px;
    width: 10px;
    display: inline-block;
    border-radius: 50%;
    margin-left: 5px;
}