.body { 
    background-color: #eeeeee;
    box-sizing: border-box;
    font-size: 15px;
}

.body { background-color: #eeeeee; }
   .box { text-align: center; }
   .dott-b{
    background: url('images/b.png')!important;
    background-position-x: center!important;
    background-position-y: center!important;
    background-size: 80%!important;
    background-repeat: no-repeat!important;
    background-color: #b58863!important;
   }
   .dott-w {
    background: url('images/w.png')!important;
    background-position-x: center!important;
    background-position-y: center!important;
    background-size: 80%!important;
    background-repeat: no-repeat!important;
    background-color: #b58863!important;
   }
   .green{
    opacity: 0.7;
   }
   .centered { display: inline-block; margin: 0; }
   .chess-board { border-spacing: 0; border-collapse: collapse; }
   .chess-board th { padding: .5em; }
   .chess-board td { border: 1px solid; width: 5em; height: 5em; text-align: center; vertical-align: middle; }
   .chess-board .white { background: #f0d9b5; }
   .chess-board .black { background: #b58863; }
a:link,a:active { 
 text-decoration: none; color : #006699; 
}
a:visited {
 text-decoration: none; color : #003399; 
}
a:hover	{ 
 text-decoration: underline; color : #006900; 
}